<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<meta name="keywords" content="<% request.host %>, awesome, url shortener" />
<meta name="description" content="<% request.host %>, a simple url shortener" />
<title><% FILTER upper %><% request.host %><% END %> - Shorten URL System By Celogeek</title>
<link rel="shortcut icon" href="<% request.base %>favicon.ico" type="image/vnd.microsoft.icon" />

<link rel="stylesheet" href="<% request.base %>stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="<% request.base %>stylesheets/blueprint/print.css" type="text/css" media="print">
<!--[if lt IE 8]>
    <link rel="stylesheet" href="<% request.base %>stylesheets/blueprint/ie.css" type="text/css" media="screen, projection">
<![endif]-->

<link rel="stylesheet" href="<% request.base %>stylesheets/blueprint/plugins/fancy-type/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="<% request.base %>stylesheets/blueprint/plugins/tabs/screen.css" type="text/css" media="screen, projection">
<link rel="stylesheet" href="<% request.base %>stylesheets/blueprint/plugins/sck/screen.css" type="text/css" media="screen, projection">
<% IF bookmarklet %>
<link rel="stylesheet" href="<% request.base %>stylesheets/blueprint/plugins/sck/screen_bookmarklet.css" type="text/css" media="screen, projection">
<% END %>

<script type="text/javascript" src="<% request.base %>javascripts/jquery-1.5.1.min.js"></script>
<script type="text/javascript" src="<% request.base %>javascripts/sck.js"></script>


</head>
<body>
    <div class="container">
        <% SET span_size = bookmarklet ? 14 : 24 %>
        <div id="header" class="span-<% span_size %> last">
            <h1 class="loud"><% FILTER ucfirst %><% request.host %><% END %></h1>
        </div>
        <hr />
        <div id="subheader" class="span-<% span_size %> last">
            <h3 class="alt">An awesome shorten system written with PerlDancer.</h3>
        </div>
        <hr />
        <div class="span-<% span_size %> last">
            <% content %>
        </div>
        <div class="span-<% span_size %> last">&nbsp;</div>
        <hr />
    </div>
</body>
</html>
