<div id="header" class="span-24 last">
    <h1 class="loud"><% FILTER ucfirst %><% request.host %><% END %></h1>
</div>

<hr />

<div id="subheader" class="span-24 last">
    <h3 class="alt">An awesome shorten system written with PerlDancer.</h3>
</div>

<hr />
