<div>
    <h3 class="caps">Other links</h3>

    <div class="box">
        <ul>
            <li><a class="quiet" href="http://sck.to">http://sck.to (Recommended)</a></li>
            <li><a class="quiet" href="http://susbck.com">http://susbck.com</a></li>
            <li><a class="quiet" href="http://url.celogeek.fr">http://url.celogeek.fr</a></li>
            <li><a class="quiet" href="http://url.celogeek.com">http://url.celogeek.com</a></li>
        </ul>
    </div>
</div>


