<div class="span-14">
    <ul class="tabs">
        <% INCLUDE _tabs.tt %>
    </ul>
    <div id="shortenform" class="prepend-top">
        <% INCLUDE _shortenformtab.tt %>
    </div>
    <div id="shortenlinks" class="tabclosed prepend-top">
        <% INCLUDE _shortenlinks.tt %>
    </div>
    <div id="bookmarlet" class="tabclosed prepend-top">
        <% INCLUDE _bookmarlettab.tt %>
    </div>
</div>
<div class="span-9 lcolborder last">
    <% INCLUDE _sidebar.tt %>
</div>
